<nav class="nav">
  <a href="{{ "/" | relURL }}" class="nav-logo">
    <img src="{{ print "" .Site.Params.logo.url | relURL }}"
         alt="{{ .Site.Params.logo.alt }}">
  </a>

  <ul class="nav-links">
    {{ $defaultLang := .Site.Params.defaultLang | default "en" }}
    {{ $defaultMenu := index .Site.Menus $defaultLang }}
    {{ $sectionMenu := index .Site.Menus .Section }}
    {{ $activeMenu := $defaultMenu }}
    {{ if and $sectionMenu (gt (len $sectionMenu) 0) }}
      {{ $activeMenu = $sectionMenu }}
    {{ end }}
    {{ range $activeMenu }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</nav>
